<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
<style>
  .bottom-three {
     margin-bottom: 1.5cm;
   }
  .bottom-small {
     margin-bottom: 1cm;
   }
</style>
</head>

<body class="page">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http://' %}
      "{{ page.image.feature }}"
    {% elsif page.image.feature contains 'https://' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}
<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <article>
    <h1>{{ page.title }}</h1>
    <div class="article-wrap">
    <p align="center" class=bottom-small><img src="{{ site.url }}/images/resume/business.png" alt="Work Experience and Internships" width="70" height="70" title="Work Experience and Internships"></p>
    <p align="left">&#10148 I'm currently working as a <b>Applied Scientist 4 - Tech Lead</b> at <b><a href="https://www.splunk.com/">Splunk</a></b>. Specifically in the domains related to Generative AI, Large Language Models(LLMs), Reinforcement Learning (RL), Multi-Agent AI Systems, Retrieval Augmented Generation(RAG) and Retrieval Interleaved Generation (RIG).</p>
    <p align="left">&#10148 At <a href="https://www.cornell.edu/">Cornell</a>, as a <b>Lead Researcher</b>, I worked primarily on LLMs and MultiModal Models.
    <p align="left">&#10148 Previously, as an <b>Applied Scientist - Lead</b> at <b><a href="https://www.oracle.com/cloud/" target="_blank">Oracle Cloud AI</a></b>, I worked in the realms of Language, Vision and Forecasting where I've also filed <b><a href="https://patents.justia.com/inventor/{{ site.owner.justia }}" target="_blank">8 Patents</a></b> in areas of Generative AI & LLMs</p>
    <p align="left">&#10148 Prior to that, I've worked as a <b>Senior Machine Learning Scientist</b> at <b><a href="https://www.cargill.com/" target="_blank">Cargill Digital Labs</a></b> and productionalized various Deep Learning models like Image Denoising, Label Segmentation, Synthetic Data Generation for NER, Self-Genarative Chatbot Models and Semantic Search from Documents.</p>
    <p align="left">&#10148 I've been a <b>Data Scientist</b> at <b><a href="https://cogoport.com" target="_blank">Cogoport</a></b>. Developed many Machine Learning and Deep Learning projects along with the Data Processing Engine from scratch.</p>
    <p align="left">&#10148 I was a <b>Machine Learning Engineer</b> at <b><a href="https://www.airtel.in/bank/" target="_blank">Airtel Payments Bank</a></b>. Developed 2 ML projects from scratch and worked on some Back-end, Front-end projects as well.</p>
    <p align="left" class="bottom-three">&#10148 Completed 2 internships while I was pursuing Bachelors. One was with <b><a href="https://www.linkedin.com/company/redcarpetup-com/" target = '_blank'>RedCarpet</a></b> as a <b>Machine Learning Intern</b> and the other one was with <b><a href='https://www.kateit.in/' target="_blank">KATE Technologies</a></b> as an <b>Android Application Development Intern.</b></p>
    

    <p align="center" class=bottom-small><img src="{{ site.url }}/images/resume/study2.png" alt="Academic Details" width="70" height="70" title="Academic Details"></p>
    <p align="left">&#10148 Masters in <b>Computer Science</b> from <a href="https://www.cornell.edu/" target="_blank">Cornell University</a> - Grade: 4.07/4.0</p>
    <p align="left">&#10148 During Masters, I've worked as a Research Assistant at <a href="https://gao-labs.github.io/" target="_blank">Gao Labs</a> advised by <a href="https://scholar.google.com/citations?hl=en&user=bkzox5EAAAAJ" target="_blank">Dr. Xinlai Liu</a></p>
    <p align="left">&#10148 Bachelors in <b>Computer Science</b> from <a href="http://itmuniversity.ac.in/" target="_blank">ITM University, Gwalior</a>. <b>Ranked 1st</b> in entire CS Department - Grade: 8.76/10.0</p>
    <p align="left">&#10148 During Bachelors, I've worked as a Teaching Assistant for AI/ML and Data Science and was offered the <b>Vice-Chancellor Scholarship</b> for the Best Project.</p>
    
    <p align="center" class=bottom-small><img src="{{ site.url }}/images/resume/study.png" alt="Certifications" width="70" height="70" title="Certifications"></p>
    <p align="left">&#10148 Completed <a href="https://www.coursera.org/account/accomplishments/specialization/HY66L5LPFFER" target="_blank">TensorFlow Developer Specialization</a> consisting of 4 courses from <b>Coursera</b>.</p>
    <p align="left">&#10148 Completed <a href="https://www.coursera.org/account/accomplishments/specialization/MPJUBXP55FLR" target="_blank">Machine Learning with TF on GCP Specialization</a> consisting of 5 courses from <b>Coursera</b>.</p>
    <p align="left">&#10148 Aced <a href="https://www.datacamp.com/statement-of-accomplishment/track/d7e13ca6676bc0786a2994146c03335a03c71305" target="_blank">Data Scientist Track</a> consisting of 22 courses from <b>DataCamp</b>.</p>
    <p align="left" class="bottom-three">&#10148 Please refer to the links on left for many more completed certifications.</p>

    <p align="center" class=bottom-small><img src="{{ site.url }}/images/resume/computer1.png" alt="Technical Skills" width="80" height="80" title="Technical Skills"></p>
    <p align="left">&#10148 <b>Generative AI:</b> LLMs(Llama, Gemma, Mistral, MPT, GPT, Qwen, etc.), Langchain, LlamaIndex, VLMs(Pixtral, Stable Diffusion, etc), PEFT, LoRA, Quantization, Pruning, Knowledge Distillation, RLHF, RLAIF, Distributed Multi-Node Multi-GPU Training, DeepSpeed.</p>
    <p align="left">&#10148 <b>Programming Languages:</b> Python, Java, MySQL, JavaScript, TypeScript, C/C++, HTML.</p>
    <p align="left">&#10148 <b>Libraries:</b> PyTorch, TensorFlow, DeepSpeed, TGI, vLLM, ONNX, Keras, OpenCV, Scikit-Learn, RASA & more.</p>
    <p align="left">&#10148 <b>Messaging Queues and Databases:</b> RabbitMQ, Apache Kafka, Redis, Postgres, MySQL, Oracle, MongoDB, Aerospike, RocksDB, Druid.</p>
    <p align="left">&#10148 <b>Software Skills:</b> Apache Flink, Debezium, New Relic, GIT, Android Studio, Jupyter Notebook, Google Colab, Kubernetes.</p>
    <p align="left">&#10148 <b>Frameworks:</b> JAX, MXNet, TensorRT, Triton, KubeFlow, FastAPI, MLFlow, Django, Flask, Spring MVC, Apache Airflow, Spring Boot.</p>

    {{ content }}
    </div><!-- /.article-wrap -->
  </article>
</div><!-- /#index -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}

</body>
</html>
